--extra-index-url https://download.pytorch.org/whl/cpu

streamlit
streamlit-option-menu
pandas
numpy
scikit-learn
nltk
spacy
sentence-transformers
matplotlib
plotly
seaborn
wordcloud
pdfplumber
PyPDF2
transformers==4.37.2
torch
xgboost